case eventt
  when "fap_biba"
    case template
      when 1
        | Гоняет лысого
      when 2
        | Фапает бибу 
      when 3
        | Душит удава
  when "fap_you_biba"
    case template
      when 1
        | Помогаю другу с бибой
      when 2
        | Ушел с ночевкой к другу
      when 3
        | Работает ртом
