| === Помощь ===
| биба - Открыть профиль
| фап - Начать наяривать
| бибон - Бои на бибах
| топ биб - Рейтинг
|
| Все команды можно применить на вашего друга!
| Через @ или переслать сообщение и написать команду.
|
| Бибон доступен раз в минуту!
