case type
  when "biba"
    case template
      when 1
        | Поиск противника..
      when 2 
        | Поиск жертвы..
      when 3
        | Поиск гэя..
  when "big_biba" 
    case template
      when 1
        | Да начнется поединок!
      when 2
        | Чичас все будет..
      when 3
        | Начинается большая биба..
