case type
  when 'command_blocked'
    | Игровые комманды ограничены в данной беседе
  when 'bot_is_not_admin'
    | Данная функция доступна, когда вы назначите бота Администратором данной беседы
  when 'biba_conflict'
    | Твоя биба еще не выросла, а ты уже ее трогаешь!