|vk.com/@biba_bot-informaciya-i-pomosch
| ⬆  ⬆  ⬆  ⬆  ⬆
| ВСЯ ИНФОРМАЦИЯ и ПОМОЩЬ ПО БОТУ НАХОДИТСЯ ТУТ
|
| 💬 Основные команды
| 🌑 ФАП
| 🌑 БИБОН
| 🌑 БИГБОН
|
| ❗ Если вам что-то не понятно напишите разработчикам. 😉