| 💬 Всем привет! Я Биба бот.
|
| 💭 Теперь вы сможете фапать, устраивать битвы на бибах и покорять топы!
|  Желаю вам удачи. ❤
|
| ❗ Помощь - "биба хелп"
| ❗ Обязательно выдайте боту права, что бы можно было его использовать.
| https://vk.com/@biba_bot-kak-dobavit-bota-v-besedu
