| ๐ฌ ะะฐัะฐะปะพะณ <br>
| <br>
- for ( let i = 0; i < products.length; i++ )
  |#{i + 1}. โญ #{products[i].name} <br>๐ฆ ะฆะตะฝะฐ : #{products[i].price} ะดะบ.<br>
| 0. โ ะะฐะทะฐะด ะฒ ะบะฐัะตะณะพัะธะธ
| 00. โ ะัะนัะธ ะธะท ะผะฐะณะฐะทะธะฝะฐ