case template
    when 1
        | *Барабанная дробь*
        | Добро пожаловать в беседу!
    when 2
        | Добро пожаловать, путник. Ты у наc надолго?
    when 3
        | Привет, расскажи о себе. Я конечно не заставляю, но... 👉🏻👈🏻
    when 5
        | Приветствуем тебя! У нас тут принято новеньких за бибу дергать.
    when 6
        | Добро пожаловать в наш дружный коллектив! Скажи мяу.
    when 7
        | Биба приветсвует тебя в нашей замечательной беседе!
    when 8
        | Ой... Здравствуйте. Вы к наc надолго?