case template
    when 1
        | *Барабанная дробь*
        | Добро пожаловать в ад!
    when 2
        | Добро пожаловать, путник. Выйди отсюда, тебе тут не рады.
    when 3
        | Ой скинь сиськи... 👉🏻👈🏻
    when 5
        | Приветствуем тебя! У нас тут принято новеньких в жопу ебать.
    when 6
        | Добро пожаловать в наш дружный колектив! Тебя тут будут пиздить.
    when 7
        | Ой... Здравствуйте. Выйди отсюда.