case template
    when 1
        | Барабанная дробь иииии...., ты пидор!
    when 2
        | Беззубый господин! Приветствуем тебя!
    when 3
        | Не служил - не мужик!
    when 5
        | Приветствуем тебя, у нас тут принято новеньких в жопу ебать.
    when 6
        | Привет, скажи мяу.